<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{'HOME.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!hasLoadedServices">
  <div class="loading-container" *ngIf="hasLoadedServices === null">
    <ion-spinner mode="ios" color="secondary"></ion-spinner>
  </div>
  <div *ngIf="hasLoadedServices === false" class="error-container">
    <ion-icon name="warning" color="danger"></ion-icon>
    <ion-text color="danger">{{'LOADINGERROR.DATA' | translate}}</ion-text>
    <ion-button mode="ios" (click)="loadServices()">{{'LOADINGERROR.RELOAD' | translate}}</ion-button>
  </div>
</ion-content>

<ion-content color="custom3" *ngIf="hasLoadedServices">

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{'HOME.CATEGORIES' | translate}}</ion-label>
    </ion-item-divider>

    <div class="categories-list">
      <ion-card class="ion-ripple-parent ion-activatable category-item" *ngFor="let category of someCategories">
        <img class="ion-padding service-illustration" [src]="categoryImageIllustration(category.parent.illustration)" alt=""/>
        <ion-text class="overlay-text">{{label(category.parent)}}</ion-text>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
      <ion-card class="see-more">
        <ion-card-content class="ion-ripple-parent ion-activatable" (click)="goToCategoriesList()">
          <ion-icon name="list-circle-outline"></ion-icon>
          <ion-text>{{'HOME.SEEALL' | translate}}</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card-content>
      </ion-card>
    </div>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{'HOME.TRENDCATEGORIES' | translate}}</ion-label>
    </ion-item-divider>

    <div class="categories-list">
      <ion-card class="ion-ripple-parent ion-activatable category-item" *ngFor="let category of trendingCategories">
        <ion-badge color="light">{{serviceTotalAbbreviation(category.parent?.total ? category.parent?.total : 0)}}</ion-badge>
        <img class="ion-padding service-illustration" [src]="categoryImageIllustration(category.parent.illustration)" [alt]="label(category.parent)"/>
        <ion-text class="overlay-text">{{label(category.parent)}}</ion-text>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{'HOME.LASTNOTIFICATIONS' | translate}}</ion-label>
    </ion-item-divider>

    <ion-card *ngFor="let notification of notifications; index as i">
      <ion-item [class.unread]="!notification.is_read" class="ion-ripple-parent ion-activatable" (click)="onViewNotification(notification)">
        <ion-avatar slot="start">
          <img [src]="notificationImagePath(notification.data?.state)" alt=""/>
        </ion-avatar>
        <ion-card-header>
          <ion-card-title>
            <ion-row>
              <ion-col size="7">
                <span>{{notificationTitle(notification.data?.state)}}</span>
              </ion-col>
              <ion-col size="5" class="creation-date">
                <ion-note>{{printDate(notification.created_at, true)}}</ion-note>
              </ion-col>
            </ion-row>
          </ion-card-title>
          <ion-note>
            <ion-row>
              <ion-col>
                {{notificationDescription(notification.data?.state, notification.data?.enquiry_code)}}
              </ion-col>
            </ion-row>
          </ion-note>
        </ion-card-header>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-card>
  </ion-item-group>

</ion-content>
