<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58383526517-i5pahk4r0q04tsh1cbu36jvtbt892c76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58383526517-i5pahk4r0q04tsh1cbu36jvtbt892c76</string>
	<key>API_KEY</key>
	<string>AIzaSyDPzYphsZbarTfZQ3ej7BjU5PrYfeUFuys</string>
	<key>GCM_SENDER_ID</key>
	<string>58383526517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.worldevs.easyservices</string>
	<key>PROJECT_ID</key>
	<string>easy-services-367220</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-services-367220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58383526517:ios:df3f3ed54d57898f39663c</string>
</dict>
</plist>