<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'UPDATEPASSWORD.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="custom3" class="ion-padding">
  <form [formGroup]="passwordForm" (ngSubmit)="onFormSubmit()">
    <ion-list>
      <ion-label>
        {{'UPDATEPASSWORD.OLDPASSWORD.PLACEHOLDER' | translate}}
      </ion-label>
      <ion-item>
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-input type="password" formControlName="old_password"></ion-input>
      </ion-item>

      <span class="error ion-padding" *ngIf="formIsSubmitted && errorControl.old_password.errors?.required">
        {{'UPDATEPASSWORD.OLDPASSWORD.REQUIRED' | translate}}
      </span>
      <span class="error ion-padding" *ngIf="formIsSubmitted && errorControl.old_password.errors?.minlength">
        {{'UPDATEPASSWORD.OLDPASSWORD.MINLENGTH' | translate}}
      </span>
      <span class="error ion-padding" *ngIf="formIsSubmitted && errorControl.old_password.errors?.maxlength">
        {{'UPDATEPASSWORD.OLDPASSWORD.MAXLENGTH' | translate}}
      </span>
      <ion-label>
        {{'UPDATEPASSWORD.NEWPASSWORD.PLACEHOLDER' | translate}}
      </ion-label>
      <ion-item>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-input type="password" formControlName="new_password"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="formIsSubmitted && errorControl.new_password.errors?.required">
        {{'UPDATEPASSWORD.NEWPASSWORD.REQUIRED' | translate}}
      </span>
      <span class="error ion-padding" *ngIf="formIsSubmitted && errorControl.new_password.errors?.minlength">
        {{'UPDATEPASSWORD.NEWPASSWORD.MINLENGTH' | translate}}
      </span>
      <span class="error ion-padding" *ngIf="formIsSubmitted && errorControl.new_password.errors?.maxlength">
        {{'UPDATEPASSWORD.NEWPASSWORD.MAXLENGTH' | translate}}
      </span>
      <ion-label>
        {{'UPDATEPASSWORD.CONFIRMPASSWORD.PLACEHOLDER' | translate}}
      </ion-label>
      <ion-item>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="formIsSubmitted && errorControl.confirm_password.errors?.required">
        {{'UPDATEPASSWORD.CONFIRMPASSWORD.REQUIRED' | translate}}
      </span>
      <span class="error ion-padding" *ngIf="formIsSubmitted && errorControl.confirm_password.errors?.confirmedValidator">
        {{'UPDATEPASSWORD.CONFIRMPASSWORD.MUSTMATCH' | translate}}
      </span>

    </ion-list>

    <ion-button mode="ios" class="submit-button" expand="block" type="submit">
      {{'SUBMIT.EDIT' | translate}}
    </ion-button>
  </form>
</ion-content>
